# docker-compose.yml
version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: wp_db
    #container_name: wp-mysql
    restart: unless-stopped
    #restart: always
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - wpnet

  wordpress:
    image: wordpress:6.6-php8.3-apache
    container_name: wp_site
    #container_name: wp-hilltopcode
    restart: unless-stopped
    #restart: always
    depends_on:
      - db
    ports:
      - '8080:80'
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
    volumes:
      - ./wp-content:/var/www/html/wp-content
    networks:
      - wpnet

  phpmyadmin:
    image: phpmyadmin
    container_name: wp_phpmyadmin
    #container_name: wp-hilltopcode
    restart: unless-stopped
    #restart: always
    depends_on:
      - db
    ports:
      - '8081:80'
    environment:
      PMA_HOST: db
    networks:
      - wpnet

volumes:
  db_data:

networks:
  wpnet:
    driver: bridge
